/* Desktop */

/* Body */

body {
    background-color: white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-weight: bold;
    font-style: normal;
}

/* h1-h6 */

h2 {
    font-weight: bold;
    font-size: 30px;
}

footer h4 {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}


.also-visit h6 {
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}

/* p */

.find-us p {
    font-size: 16px;
    margin: 0;
}

.weekdays p {
    font-size: 16px;
    margin: 0;
    padding-right: 3rem;
}

.hours p {
    font-size: 16px;
    margin: 0;
    text-align: right;
}

.also-visit p {
    font-size: 14px;
    margin: 0;
}

.copyright p {
    text-align: center;
    font-size: 14px;
}

.flex p {
    font-size: 20px;
    margin: 0;
}

.menu p {
    margin: 0;
}

.info-restrictions p {
    font-size: 12px;
}

/* a */

aside a {
    color: black;
    font-size: 22px;
    text-decoration: none;
    display: block;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
}

a:hover {
    color:rgb(16, 88, 146);
}

.dropdown-content a {
    color: black;
    padding: 0.75rem 1rem;
    font-size: 14px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: white;
    color:rgb(16, 88, 146);
}

/* "Homepage" - Förstasidans huvuddelar */

/* Struktur med grid */

.wrapper {
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    grid-template-columns: 1fr 1fr 1fr; /*Bredd*/
    grid-template-rows: auto auto auto auto; /*Höjd*/        
    grid-template-areas: 
    "header header header"
    "aside aside aside"
    "main main main"
    "main main main"
    "footer footer footer"
}

/* Header */

header {
    background-color: white;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Aside - horisontell huvudmeny för desktopläge */

aside {
    grid-area: aside;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Main */ 

main {
    grid-area: main;
}

/* Footer */

footer {
    grid-area: footer;
    font-size: 18px;
    padding-top: 2rem;
}

/* Grid-areas / Sektioner i de olika huvuddelarna med innehåll i den ordning de förekommer */

/* Header section */

.header-section {
    grid-area: header;
    margin-left: 1rem;
    margin-right: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "logo"
}

/* Dropdown-meny med hamburger-ikon - syns bara i tablet och mobil */

.dropbtn {
    background-color: white;
    width: 3rem;
    height: 2.8rem;
    color: white;
    border: none;
    cursor: pointer;
    color: rgb(16, 88, 146);
    font-size: 24px;
}
  
.dropdown {
    grid-area: dropdown;
    display: none;
    left: 0;
}
  
.dropdown-content {
    top: 5rem;
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    width: 10rem;
    box-shadow: 0rem 0.5rem 1rem 0rem rgba(0,0,0,0.2);
    z-index: 1;
    border: 0.1rem solid rgb(16, 88, 146);
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown:hover .dropbtn {
    background-color: white;
}

/* Logo */

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}  


.a-s-logo {
    width: 65%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Main section i tre delar med bildinnehåll */

.main-section {
    border-top: 0.1rem solid rgb(16, 88, 146);
    grid-area: main;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    z-index: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "one two three"
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

/* Bilder */

img {
    width: 100%;
    animation: 2s slidein;
}

/* Footer section */

.footer-section {
    grid-area: footer;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "find-us opening-hours also-visit"
    "icons icons icons"
    "copyright copyright copyright"
}

.find-us {
    grid-area: find-us;
}

.opening-hours {
    grid-area: opening-hours;
}

.also-visit {
    grid-area: also-visit;
}

.our-adress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.weekdays-and-hours {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.also-visit-our-other-cafees {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icons {
    grid-area: icons;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.copyright {
    grid-area: copyright;
}

.icons i {
    padding: 0.5rem;
    color: rgb(16, 88, 146);
}

/* Meny-sida */

.row {
    column-gap: 4rem;
    row-gap: 2rem;
    padding-top: 3rem;
    padding-bottom: 2.5rem;
    border-top: 0.1rem solid rgb(16, 88, 146);
} 

/* Styling på .row påverkar även kontaktformulär på kontakt-sida då vi hämtat kod från Bootstrap */

.flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    text-align: left;
}

.menu {
    display: flex;
    text-align: right;
    flex-direction: column;
}

.right {
    animation: right;
    animation-duration: 3s;
}

.left {
    animation: left;
    animation-duration: 3s;
}

/* Kontakt-sida */

.form-control {
    border: solid 3px rgb(16, 88, 146);
    border-radius: 0;
}

.headline-form {
    text-align: left;
    animation: contact;
    animation-duration: 2s;
}

.form-label {
    float: left;
    padding-top: 1rem;
}

button {
    margin-bottom: 1rem;
}

.btn-dark {
    background-color: rgb(16, 88, 146);
    border-radius: 0;
    border: none;
}



/* Animationer */

@keyframes slidein {
    from {margin-left: 400%;}
    to {margin-left: 0%;}
}

@keyframes right {
    from{margin-left: -150%;}
    to{margin-left: 0%;}
}

@keyframes left {
    from{margin-right: -150%;}
    to{margin-right: 0%;}
}

@keyframes contact {
    from{margin-left: 100%;}
    to{margin-left: 0%;}
}


